[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pysonar = "*"
radon = "*"
matplotlib = "*"

[dev-packages]
ruff = "*"
black = "*"
invoke = "*"

[scripts]
lint = "invoke lint"

[requires]
python_version = "3.12"
