[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"

[dev-packages]
ruff = "*"
black = "*"
invoke = "*"

[scripts]
lint = "invoke lint"

[requires]
python_version = "3.8"
#python_full_version = "3.8.10"
